@font-face {
	font-family: 'spectral';
	src: url(./fonts/spectral-regular.woff2) format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'spectral';
	src: url(./fonts/spectral-italic.woff2) format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'spectral';
	src: url(./fonts/spectral-mediumitalic.woff2) format("woff2");
	font-display: swap;
	font-weight: 500;
	font-style: italic
}


@tailwind base;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body,
  #__nuxt {
    width: 100%;
    height: 100%;
  }

}


@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 3px;
	height: 8px
}

::-webkit-scrollbar-thumb {
	@apply bg-blue rounded
}

::-webkit-scrollbar-track {
	background-color: theme('colors.sand');
}

body.animate .animate-fade-up {
	animation: fade-up 1.5s ease forwards;
	opacity: 0
}

body.animate .animate-rotate-in {
	animation: rotate-in 1s ease forwards;
	opacity: 0
}

@keyframes fade-up {
	from {
		opacity: 0;
		transform: translateY(16px)
	}
	to {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes rotate-in {
	from {
		opacity: 0;
		transform: translateY(12px) rotate(2deg)
	}
	to {
		opacity: 1;
		transform: translateY(0) rotate(0)
	}
}


.page-enter-active {
  @apply transition-opacity duration-100 ease-linear;
}

.page-leave-active {
  @apply transition-opacity duration-100 ease-linear;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.slow-fade-enter-active {
  @apply transition-opacity duration-500 ease-linear;
}

.slow-fade-leave-active {
  @apply transition-opacity duration-200 ease-linear;
}

.slow-fade-enter-from,
.slow-fade-leave-to {
  opacity: 0;
}